# Variables de entorno para el servidor
DB_NAME=mcm
DB_USER=mcm
DB_PASSWORD=clave_segura
DB_ROOT_PASSWORD=rootpass
DB_HOST=db # usar "localhost" si la base de datos se ejecuta fuera de Docker. Usar "db" si se usa Docker Compose para el despliegue
# Puerto interno al que se conecta la aplicación. Si usas Docker Compose debe
# permanecer en 3306.
DB_PORT=3306
# Puerto expuesto en el host. Modifica sólo este valor para cambiar el puerto en
# el que escuchará MariaDB desde fuera del contenedor.
DB_PORT_HOST=3306
MYSQL_DATABASE=mcm
MYSQL_USER=mcm
MYSQL_PASSWORD=clave_segura #Mismo valor que DB_PASSWORD
MYSQL_ROOT_PASSWORD=rootpass #Mismo valor que DB_ROOT_PASSWORD
USE_AUTH=false
SESSION_SECRET=mcm-secret
FRONT_PORT=3001
LDAP_URL=ldap://ldap.example.com
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_BIND_PASSWORD=changeit
