# Variables de entorno para el servidor
DB_NAME=mcm
DB_USER=mcm
DB_PASSWORD=clave_segura
DB_HOST=db # usar "localhost" si la base de datos se ejecuta fuera de Docker. Usar "db" si se usa Docker Compose para el despliegue
DB_PORT=3306
USE_AUTH=false
SESSION_SECRET=mcm-secret
LDAP_URL=ldap://ldap.example.com
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_BIND_PASSWORD=changeit
